<%- include('partials/header'); -%>
<h1>Home</h1>
<p> <%= homeContent %> </p>

<%# Looping through Array of Posts %>
<% postsArray.forEach(post => { %>
<% console.log(post.title) %>
<% }) %>




<%- include('partials/footer'); -%>